#gridContainer {
    height: 900px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px;
    margin: 0px;
    border-color: black;
    border: solid 5px;
}

.pixel {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* .pixel:hover {
    background-color: black;
} */

.pixelHover {
    background-color: black;
}

#input {
    margin-bottom: 30px;
}